body {
  background: white;
  margin-top: 30px;
}

a {
  color: #9670f4;
}

.App {
  margin: 0 auto;
  max-width: 960px;
}

.App-logo {
  max-width: 300px;
  display: block;
  margin: 0 auto;
}

.App-footer {
  font-size: 10px;
  text-align: center;
  margin: 30px 0;
}
